
//Nav
#navBarDiv{
    background-color: rgb(81, 233, 89);
}
#navTitle{
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#navHome{
    text-decoration: none;
    color: white;
}
#navContact{
    text-decoration: none;
    color: white;
}
#navCats{
    text-decoration: none;
    color: white !important;
    background-color: rgb(81, 233, 89);
}
#navToggle{
    color: rgb(81, 233, 89);
    border-color: rgb(81, 233, 89);
}
.imagenLogo{
    width: 125px;
    height: 60px;
}

#cartWidget {
    color: rgb(255, 255, 255);
    margin-left: 150px;
}

#badge {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(81, 233, 89);
}
//Banner 
#bannerImg{
    height: 180px;
    margin-bottom: 25px;
}
//Item
#itemDiv {
    display: inline-block;
    padding: 10px;
    margin-left: 32px;
        img{
            height: 300px;
            width: 250px;
            margin-left: 20px;
        }
        button {
        width: 100%;
        background-color: rgb(81, 233, 89);
        border-color: rgb(81, 233, 89) ;
        }
        button:hover {
            background-color: rgb(10, 151, 17) ;
            border-color: rgb(10, 151, 17);
        }
        p{
            font-size: 25px;
        }
}
//Item detail
.countDiv {
    display: flex;
    margin-bottom: 70px;
    p{
        margin-top: 15px;
    }
    button{
        border-radius: 5px;
    }
}
#divItemDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cardItemDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        height: 170px;
        width: 150px;
    }
    p{
        font-size: 13px;
    }
    button{
        margin: 5px;
        color: white;
    }
}
.titleItemDetail{
    font-size: 18px;
}
.priceDetail{
    margin-left: 30px;
}
#addButton{
    background-color: rgb(66, 94, 219);
}
#decreaseButton{
    background-color: red;
}
#addToCartButton{
    background-color: rgb(81, 233, 89);
}
//Cart
#cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cartText{
    text-align: center;
    margin-bottom: 420px;
}
#cartItem{
    img{
    width: 80px;
    height: 100px;
    }
    button{
    margin-left: 133px;
    margin-top: 25px;
    margin-bottom: 25px;
    }
}
#row{
    display: flex;
    align-items: center;
}
#totalCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    border-color: red;
    button{
        margin-top: 25px;
        margin-bottom: 70px;
       background-color: rgb(81, 233, 89) ;
       border-color: rgb(81, 233, 89) ;
    }
    button:hover{
        background-color: rgb(10, 151, 17) ;
    }
}
//Footer
#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1280px) {
    //Nav
    #navBarDiv{
        background-color: rgb(81, 233, 89);
    }
    #navTitle{
        font-size: 30px;
        text-decoration: none;
        color: white;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
    #navHome{
        text-decoration: none;
        color: white;
        font-size: 20px;
    }
    #navContact{
        text-decoration: none;
        color: white;
        font-size: 20px;
    }
    #navCats{
        text-decoration: none;
        color: white !important;
        background-color: rgb(81, 233, 89);
        font-size: 20px;
    }
    #navToggle{
        color: rgb(81, 233, 89);
        border-color: rgb(81, 233, 89);
    }

    .imagenLogo{
        width: 350px;
        height: 150px;
    }
    
    #cartWidget {
        color: rgb(255, 255, 255);
        margin-left: 500px;
        margin-top: 50px;
    }
    
    #badge {
        background-color: rgb(255, 255, 255) !important;
        color: rgb(81, 233, 89);
        font-size: 15px;
        width: 30px;
        height: 25px;
        margin-left: 540px;
        margin-bottom: 50px;
    }
    //Banner 
    #bannerImg{
        height: 400px;
        margin-bottom: 25px;
    }
    //Item
    #itemDiv {
        display: inline-block;
        padding: 45px;
        margin-left: 32px;
        max-width: 550px;
            img{
                height: 300px;
                width: 250px;
                margin-left: 20px;
            }
            button {
            width: 100%;
            background-color: rgb(81, 233, 89);
            border-color: rgb(81, 233, 89) ;
            }
            button:hover {
                background-color: rgb(10, 151, 17) ;
                border-color: rgb(10, 151, 17);
            }
            p{
                font-size: 35px;
            }
            .titleItemDetail{
                font-size: 18px;
                color: red;
            }
    }
}
