// MOBILE DIMENSIONES IPHONE SE 

//Nav
#navBarDiv{
    background-color: rgb(81, 233, 89);
    max-width: 375px;
}
#navTitle{
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#navHome{
    text-decoration: none;
    color: white;
}
#navContact{
    text-decoration: none;
    color: white;
}
#basic-nav-dropdown{
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-decoration: none;
}
#navCats{
    color: rgb(81, 233, 89);
    font-size: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
#navToggle{
    color: rgb(81, 233, 89);
    border-color: rgb(81, 233, 89);
}
.imagenLogo{
    width: 125px;
    height: 60px;
}
#cartWidget {
    color: rgb(255, 255, 255);
    margin-left: 150px;
    width: 20px !important;
}
#badge {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(81, 233, 89);
    width: 15px !important;
    height: 15px !important;
    font-size: 10px;
    margin-bottom: 30px;
}
#signInButton{
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    border-color: white;
    color: rgb(81, 233, 89);
    margin-left: 135px;
    margin-right: 75px;
}
#signInButton:hover{
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(245, 240, 240);
    border-color: rgb(245, 240, 240);
    color: rgb(81, 233, 89);
}
#logOutButton{
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    border-color: white;
    color: rgb(81, 233, 89);
    margin-left: 115px;
    margin-right: 75px;
}
#logOutButton:hover{
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(245, 240, 240);
    border-color: rgb(245, 240, 240);
    color: rgb(81, 233, 89);
}
//Profile
#profileDiv{
    color: white;
    img{
        width: 50px;
        height: 50px;
        margin-left: 140px;
        margin-bottom: 20px;
    }
    h2{
        margin-left: 70px;
    }
    p{
        margin-left: 30px;
    }
}



//Banner 
#bannerImg{
    height: 180px;
    margin-bottom: 25px;
}

//Loader
#loader {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 300px;
}

//Item
#itemDiv {
    display: inline-block;
    padding: 10px;
    margin-left: 32px;
        img{
            height: 300px;
            width: 250px;
            margin-left: 20px;
        }
        button {
        width: 100%;
        background-color: rgb(81, 233, 89);
        border-color: rgb(81, 233, 89) ;
        }
        button:hover {
            background-color: rgb(10, 151, 17) ;
            border-color: rgb(10, 151, 17);
        }
        p{
            font-size: 25px;
        }
}

//Item detail
.countDiv {
    display: flex;
    margin-bottom: 70px;
    p{
        margin-top: 20px;
    }
    button{
        border-radius: 5px;
        margin: 5px;
        color: white;
        border-color: white;
    }
}
#divItemDetail{
    img{
        width: 250px;
        margin-left: 50px;
    }
    h3{
        font-size: 30px;
    }
}
#colItemDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
}
.priceDetail{
    margin-left: 30px;
}
//Item detail buttons
#addButton{
    background-color: rgb(66, 94, 219);
}
#decreaseButton{
    background-color: red;
}
#addToCartButton{
    background-color: rgb(81, 233, 89);
    width: 200px;
}

//Cart
#cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cartText{
    text-align: center;
    margin-bottom: 420px;
}
#cartItem{
    img{
    width: 80px;
    height: 100px;
    }
    button{
    margin-left: 133px;
    margin-top: 25px;
    margin-bottom: 25px;
    }
}
#row{
    display: flex;
    align-items: center;
}
#totalCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    border-color: red;
    button{
        margin-top: 25px;
        margin-bottom: 70px;
       background-color: rgb(81, 233, 89) ;
       border-color: rgb(81, 233, 89) ;
    }
    button:hover{
        background-color: rgb(10, 151, 17) ;
    }
} 

//Footer
#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}



// MEDIA QUERIE PC
@media screen and (min-width: 1280px) {

//Nav
    #navBarDiv{
        background-color: rgb(81, 233, 89);
    }
    #navTitle{
        font-size: 30px;
        text-decoration: none;
        color: white;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
    #navHome{
        text-decoration: none;
        color: white;
        font-size: 20px;
    }
    #navContact{
        text-decoration: none;
        color: white;
        font-size: 20px;
    }
    #basic-nav-dropdown{
        color: rgb(255, 255, 255);
        font-size: 20px;
    }
    #navToggle{
        color: rgb(81, 233, 89);
        border-color: rgb(81, 233, 89);
    }
    .imagenLogo{
        width: 350px;
        height: 150px;
    } 
    #divNavBar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #cartWidget {
        color: rgb(255, 255, 255);
        width: 35px !important;
        height: 30px !important;
        margin-left: 50px;
    }
    #cartWidget:hover {
        color: rgb(230, 225, 225);
    }
    #badge {
        background-color: rgb(255, 255, 255) !important;
        color: rgb(81, 233, 89);
        font-size: 10px;
        font-weight:900;
        width: 20px !important;
        height: 18px !important;
        margin-bottom: 50px;
        margin-left: 0px;
    }
    #badge:hover {
        background-color: rgb(240, 236, 236)!important;
        color: rgb(81, 233, 89);
    }
    #signInButton{
        width: 100px;
        padding: 5px;
        border-radius: 5px;
        background-color: white;
        border-color: white;
        color: rgb(81, 233, 89);
        margin-left: 500px;
    }
    #signInButton:hover{
        width: 100px;
        padding: 5px;
        border-radius: 5px;
        background-color: rgb(245, 240, 240);
        border-color: rgb(245, 240, 240);
        color: rgb(81, 233, 89);
    }

//Banner 
    #bannerImg{
        height: 400px;
        margin-bottom: 25px;
    }

//Item
    #itemDiv {
        display: inline-block;
        padding: 45px;
        margin-left: 32px;
        max-width: 550px;
            img{
                height: 300px;
                width: 250px;
                margin-left: 20px;
            }
            button {
            width: 100%;
            background-color: rgb(81, 233, 89);
            border-color: rgb(81, 233, 89) ;
            }
            button:hover {
                background-color: rgb(10, 151, 17) ;
                border-color: rgb(10, 151, 17);
            }
            p{
                font-size: 35px;
            }
    }

//Item detail
    .countDiv {
        display: flex;
        margin-bottom: 70px;
        p{
            font-size: 30px !important;
            margin-top: 60px;
        }
        button{
            border-radius: 5px;
            font-size: 30px !important;
            margin-top: 50px !important;
        }
    }
    #divItemDetail{
        img{
            height: 600px;
            width: 600px;
        }
        h1{
            font-size: 45px;
            margin-bottom: 35px;
        }
        h3{
            font-size: 35px;
            margin-top: 50px;
        }
        p{
            font-size: 20px;
        }
        button{
            margin: 15px;
            padding: 10px;
            color: white;
        }
    }
    #colItemDetail{
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    // Item detail buttons
    #addButton{
        background-color: rgb(66, 94, 219);
        
    }
    #decreaseButton{
        background-color: red;
    }
    #addToCartButton{
        background-color: rgb(81, 233, 89);
        width: 200px;
    }

//Cart 
#cart {
    display: flex;
    flex-direction: column;
}
#cartText{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 420px;
}
#cartItem{
    max-width: 700px;
    img{
    width: 200px;
    height: 200px;
    }
    button{
    margin-left: 190px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 300px;
    font-size: 20px;
    }
}
#row{
    font-size: 30px;
}
#totalCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    button{
    margin-top: 25px;
    margin-bottom: 70px;
    background-color: rgb(81, 233, 89) ;
    border-color: rgb(81, 233, 89) ;
    width: 100%;
    }
    button:hover{
    background-color: rgb(10, 151, 17) ;
    }
}
.totalItemsText{
    font-size: 20px;
}
.totalPriceText{
    font-size: 25px;
}
.totalTitleText{
    font-size: 35px;
}




}

